@model IEnumerable<KaskKiosk.AESApplicationServiceRef.ApplicationDAO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Applications</h2>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Application Status</th>
        <th>Actions</th>
    </tr>
@foreach (var item in ViewBag.applications)
{
    <tr>
        <td>@item.ApplicationID</td>
        <td>@item.ApplicationStatus</td>
        <td>@Html.ActionLink("View Details", "Details", new { id=item.ApplicationID })</td>
    </tr>
}
</table>