@model IEnumerable<KaskKiosk.AESApplicationServiceRef.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var item in ViewBag.applications)
{
    @item.Application_ID<br />
    @item.ApplicationStatus<br />
}
