@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewBag.Title = "Reject Application";
}

<h2>Reject Application</h2>
@using (Html.BeginForm("Reject", "App", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="section" id="section0">
        <h3>Are you sure you want to reject this application?</h3>
        <input type="hidden" name="ApplicationID" id="ApplicationID" value="@ViewBag.applicationID" />
        <br style="clear:both;"/>
    </div>
    
    <a href="@Html.Encode("/App/Index")" class="btn btn-danger">Cancel</a>@Html.Raw("&nbsp;&nbsp;&nbsp;")
    <input type="submit" id="submit" value="Reject" class="btn btn-success" />
}