~$$AES Architecture Diagram.~vsdx
Thumbs.db
Kask.ServiceLayer/obj/Debug/WcfConfigValidationData.tmp
*.cache
Kask.DAL2/app.config
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log