<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>

    <services>
      <service name="Kask.Services.AESApplicationService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/Kask.Services/AESApplicationService.svc" />
          </baseAddresses>
        </host>
        <endpoint address="Application" binding="basicHttpBinding" contract="Kask.Services.Interfaces.IApplicationService" /> 
        <endpoint address="Applicant" binding="basicHttpBinding" contract="Kask.Services.Interfaces.IApplicantService" />
        <!--<endpoint address="/Applied" binding="basicHttpBinding" contract=""-->
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
