@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="cover">
    <h1 class="cover-heading">Welcome to Kask Kiosk</h1>
    <p class="lead">
        <a href="/JobOpenings/ViewCurrentOpenings" class="btn btn-lg btn-default">View Job Openings</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/Home/Backend" class="btn btn-lg btn-default">Log In</a>
    </p>
</div>

<div class="bottom-right">Store #001</div>