@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cover">
    <h1 class="cover-heading">Welcome to Kask Kiosk</h1>
    <p class="lead">
        <a href="/App/Create" class="btn btn-lg btn-default">Apply</a>
    </p>
</div>