<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApplicationService" />
        <binding name="BasicHttpBinding_IApplicantService" />
        <binding name="BasicHttpBinding_IAppliedService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1760/AESApplicationService.svc/Application"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationService"
        contract="AESApplicationServiceRef.IApplicationService" name="BasicHttpBinding_IApplicationService" />
      <endpoint address="http://localhost:1760/AESApplicationService.svc/Applicant"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService"
        contract="AESApplicationServiceRef.IApplicantService" name="BasicHttpBinding_IApplicantService" />
      <endpoint address="http://localhost:1760/AESApplicationService.svc/Applied"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppliedService"
        contract="AESApplicationServiceRef.IAppliedService" name="BasicHttpBinding_IAppliedService" />
    </client>
  </system.serviceModel>

  <system.web>
    <httpRuntime maxRequestLength="4000"
      enable="true"
      requestLengthDiskThreshold="512" shutdownTimeout="90"
      executionTimeout="110" />
  </system.web>

</configuration>