@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "Sorry.cshtml";
}

<h2>Sorry...</h2>
<h3>Thank you for your interest!<br />
Unfortunately, we cannot hire you at this time.<br />
All the best for your next opportunity, though!</h3>