.default-layout .container {
  width:830px;
}

.default-layout .cover {
  text-align:center;
  padding-top:80px;
  padding-bottom:50px;
}

h2 {
}

.lead {
  color:#888;
  font-size:18px;
  margin:0;
  margin-bottom:20px;
  padding:0;
}

.italic {
  font-style:italic;
}

textarea {
  resize:vertical;
}

#moveDown {
  position:fixed;
  right:0;
  margin-right:2%;
  bottom:20px;
}

#moveUp {
  position:fixed;
  left:0;
  margin-left:2%;
  bottom:20px;
}

.center {
  text-align:center;
}

.bottom-left {
  position:fixed;
  left:0;
  margin-left:2%;
  bottom:20px;
}

.bottom-right {
  position:fixed;
  right:0;
  margin-right:2%;
  bottom:20px;
}

/* menu buttons modified from Example 3:
   http://alvarotrigo.com/fullPage/example3.css */
#menu li {
	display:inline-block;
	margin: 10px;
    margin-right:2px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}

#menu li.active {
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}

#menu li a {
	text-decoration:none;
	color: #000;
}

#menu li.active a:hover {
	color: #000;
}

#menu li:hover {
	background: rgba(255,255,255, 0.8);
}

#menu li a,
#menu li.active a {
	padding: 2px 10px;
	display:block;
}

#menu li.active a {
	color: #fff;
}

#menu {
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#loginForm {
    width:300px;
    margin:0 auto;
    margin-top:160px;
}

#loginForm ul {
    list-style-type:none;
    padding:0;
}

#loginForm ul li {
    padding-top:5px;
}

.dashboard {
}

.dashboard ul {
    columns:2;
    -webkit-columns:2;
    -moz-columns:2;
}

@media (max-width: 767px) {
    .dashboard ul {
        columns:1;
        -webkit-columns:1;
        -moz-columns:1;
    }
}

.dashboard ul li {
    line-height:1.5em;
}

.dashboard h2 {
    padding-bottom:5px;
    border-bottom:5px solid #ddd;
}

.dashboard h3 {
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
}