<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="Kask.ServiceLayer.ApplicationService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Kask.Services/Application/" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8733/Kask.Services/Application/" binding="basicHttpBinding" contract="Kask.ServiceLayer.Services.Interfaces.IApplicationService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    
  </system.serviceModel>
  
  <connectionStrings>
    <add name="AESDatabaseEntities" connectionString="metadata=res://*/AESDatabase.csdl|res://*/AESDatabase.ssdl|res://*/AESDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=M14X-WIN8;initial catalog=AESDatabase;persist security info=True;user id=khanhDev;password=2451992abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
