<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kask Kiosk</title>
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/bootstrap/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/Styles.css" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Content/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="default-layout">
    <div class="container">
        <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
        </ul>
        <h3 class="text-muted"><a href="/">Kask Kiosk</a></h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
            @RenderBody()
        </div>
      </div>

      <div class="footer">
      </div>

    </div> <!-- /container -->
  </div>
</body>
</html>