<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IApplicationService" />
                <binding name="BasicHttpBinding_IApplicantService" />
                <binding name="BasicHttpBinding_IAppliedService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1760/AESApplicationService.svc/Application"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationService"
                contract="Services.IApplicationService" name="BasicHttpBinding_IApplicationService" />
            <endpoint address="http://localhost:1760/AESApplicationService.svc/Applicant"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService"
                contract="Services.IApplicantService" name="BasicHttpBinding_IApplicantService" />
            <endpoint address="http://localhost:1760/AESApplicationService.svc/Applied"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppliedService"
                contract="Services.IAppliedService" name="BasicHttpBinding_IAppliedService" />
        </client>
    </system.serviceModel>
</configuration>